*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Georgia, 'Times New Roman', Times, serif;

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h3{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 600;
}
#btn2{
    background-color: orangered;
    color:white;
    border: none;
}

#main>h1{
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

img{
    height: 350px;
    width: 270px;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
 }

 #btm-left{
    position: absolute;
    bottom: 2%;
    left: 4%;
    font-size: 15px;
}

#btm-right{
    position: absolute;
    bottom: 2%;
    right: 4%;
    font-size: 15px;
}

#logo{
    position: absolute;
    bottom: 5%;
    right: 9%;
    font-size: 15px;   
}
